<div>
  <a class="hiddenanchor" id="signup"></a>

  <div class="login_wrapper">
    <div class="animate form login_form">
      <section class="login_content">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
          <%= f.hidden_field :reset_password_token %>
          <h1>Altere sua senha</h1>
          <div>
            <%= f.password_field :password, autocomplete: "current-password", placeholder: 'Password', class: 'form-control' %>
          </div>

          <div>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: 'Password Confirmation', class: 'form-control' %>
          </div>

          <div>
              <%= f.submit "Enviar mudança de senha", class:"btn btn-default submit", style: 'float: none; margin-left: 0px' %>
          </div>

        <% end %>
      </section>
    </div>
  </div>
</div>
